body{
  background-image: url(../assets/Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.mainframe{
  margin-left: 12% !important;
  width: 75% !important;
  height: 80%;
  margin-top: 5%;
  position: fixed;
  box-shadow: 0 5px 25px rgba(1 1 1 / 30%);


}


